.bordered {
    color : black;
    border: 1px solid black;
    padding: 5px;
    width: 17rem;
    margin: 10px;
};

.padding {
    margin: 5px;
};

.image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
};